<div class="row-fluid">
		<div class="span12">
			<h3>Project Newsletters</h3>
		</div>
</div>

<div class="row-fluid">
	
		<div class="span3">
			
			<table class="table table-condensed table-hover">
	    	    	<thead>
	    	    		<tr>
	    	    			<th>Archive</th>
	    	    		</tr>
	    	    	</thead>
	    	    	<tbody>
	    	    		<% if @newsletters.length == 0 -%>
	    	    			<tr><td>No Newsletter found!</td></tr>
	    	    		<% else -%>	
		    	    		<% @newsletters.each do |file| -%>
								<tr><td><%= link_to file, {:controller => "webportal" , :action => "allnewsletters", :newsletterid => file } %></td></tr>	
							<% end -%>
						<% end -%>		    	    		
	    	    	</tbody>
	    	</table>	
			

		</div>
	
		<div class="span9">
			<div>
			<% if @filetoshow == nil -%>
				<p>No newsletter selected! </p>
			<% elsif @filetoshow == "02_2017" -%>
				<% File.open(Rails.root.join('newsletter_prod',(@filetoshow + ".wiki")), 'rb') do |infile| -%>
					<% while line = infile.gets() -%>
						<% if line =~ /<(.*)>/%>
							<%= line.html_safe %>
						<% else -%>	
							<%= line %>
						<% end -%>	
					<% end -%>
				<% end -%>
				<div align="left">
	        		<%= form_tag({:controller => 'webportal',:action => 'surveyNewsletterYesNo'}, :multipart => true) do %>
    	    			<strong>Do you think we should continue this newsletter in the future?</strong></br>
        				<%= radio_button_tag 'vote', 'yes', true %>Yes</br>
        				<%= radio_button_tag 'vote', 'no' %>No</br></br>
						<%= text_area_tag :comments , nil, :placeholder => "Let us know what you think? (Optional)", :size => "90%x3%" %> </br>
						<%= submit_tag "Submit", :class => 'btn btn-success btn-medium' %>        		
        			<% end -%>
        		</div>
       		 	If you have news items for the next newsletter, please contact us.</br>
				Best wishes,</br>
				Rubayte and Magali 
			<% else -%>
				<% File.open(Rails.root.join('newsletter_prod',(@filetoshow + ".wiki")), 'rb') do |infile| -%>
					<% while line = infile.gets() -%>
						<% if line =~ /<(.*)>/%>
							<%= line.html_safe %>
						<% else -%>	
							<%= line %>
						<% end -%>	
					<% end -%>
				<% end -%>
			<% end -%>	
			</div>
						
		</div>
	</div>