<div class="row-fluid">
	<div class="container">
    	<div class="span12">
			
			<h3>
				<%= @file  %>
			</h3>
			<p>
				(edit mode)
			</p>	
			<p>
				<%= form_tag({:controller => 'webportal',:action => 'editWikiFiles'}, :multipart => true) do %>
				<%= hidden_field_tag :pageName , @file %></br>
				Page body: &nbsp; 
				<%=  link_to_modal "Wiki Syntax", "#wikiSyntax", :class=>"btn btn-primary btn-medium" %>
				</br></br> 
				<%= text_area_tag :pageDesc , @contents, size: "10x10" %></br>
				Attach file: <%= file_field_tag 'afile' %></br>
				<%= submit_tag "Save", :class => 'btn btn-primary btn-medium' %>
				<% end -%>	
			</p>			
			</div>
		</div>
</div>