<div class="row-fluid">
		<div class="span12">
			<h3>Next Upcoming Meeting</h3>
		<% if @res.keys.length == 0 -%>
			<div class="well">
				<p>No upcoming meeting(s) found.</p>
			</div>
		<% else -%>
			<div class="well">
				<div class="alert alert-info alert-dismissible" role="alert">
 					 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  					  <div align="center">This attendee list is not complete yet!</div>
				</div>

			<% @res.each do |key,value| -%>
				<% vals = value.split(";") -%>
			<h3><%= vals[0] %></h3>
			<p>
				<ul>
					<li>Location: <b><%= vals[1] %></b></li>
					<li>Start Date: <b><%= vals[2] %></b></li>
					<li>End Date: <b><%= vals[3] %></b></li>
				</ul>	
			</p>	
			<% end -%>	
			<% end -%>
			<br>
			<h4>Attendee(s) &nbsp; <%=  link_to_modal '<i class="icon-edit"> Update your meeting status</i>'.html_safe, "#meetingRSVP" %>
			</h4>
			<% if @attres.num_rows == 0 -%>
				<p>No attendee(s) found.</p>
			<% else -%>
					<table id="tableAttendes">
					<thead>
							<tr>
							<th>Name </th>
							<th>Email</th>
							<th>Atteding?</th>
							<th>Arrival Date &amp; Time</th>
							<th>Departure Date &amp; Time</th>
						</tr>
					</thead>				
					<tbody>
					<% @attres.each do |r1,r2,r3,r4,r5| -%>
							<tr>
								<td><%= r1 %></td>
								<td><%= r2 %></td>
								<td><%= r3 %></td>
								<td><%= r4 %></td>
								<td><%= r5 %></td>													
							</tr>
					<% end -%>
					</tbody>		
					</table>
			<% end -%>
			</div>	
		</div>
</div>

<div class="row-fluid">
	
</div>


<div id="meetingRSVP" class="modal" style="display: none; ">

	<p>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
	<%end%>
	</p>

	<div class="modal-header">
		<h3>Your RSVP</h3>
	</div>
	<div class="modal-body">
	<%= form_tag({:controller => 'webportal',:action => 'createMeetingRsvp'}, :multipart => true) do %>
		<%= hidden_field_tag :mid, @meetingId %><br>
		<% if @uatt != "" -%>
			Attending?: <%= select_tag :attending , options_for_select(['yes','no'],@uatt) %> <br><br>
		<% else -%>
			Attending?: <%= select_tag :attending , options_for_select(['yes','no']) %> <br><br>
		<% end -%>
		<% if @uad != "" -%>
			Arrival Date: <input type="text" id="datepicker" name="arrivalDate" value="<%= @uad %>" ><br><br>
			Arrival Time: <%= select_tag :atthour , options_for_select(@hour,@uah), :style => "width:70px" %>:<%= select_tag :attminute , options_for_select(@minute,@uam),:style => "width:70px" %>:<%= select_tag :attampm , options_for_select(@ampm,@uaap),:style => "width:70px" %> <br><br>
		<% else -%>
			Arrival Date: <input type="text" id="datepicker" name="arrivalDate"><br><br>
			Arrival Time: <%= select_tag :atthour , options_for_select(@hour), :style => "width:70px" %>:<%= select_tag :attminute , options_for_select(@minute),:style => "width:70px" %>:<%= select_tag :attampm , options_for_select(@ampm),:style => "width:70px" %> <br><br>
		<% end -%>
		<% if @udd != "" -%>
			Departure Date: <input type="text" id="datepicker2" name="departureDate" value="<%= @udd %>"><br><br>
			Departure Time: <%= select_tag :dpthour , options_for_select(@hour,@udh), :style => "width:70px" %>:<%= select_tag :dptminute , options_for_select(@minute,@udm),:style => "width:70px" %>:<%= select_tag :dptampm , options_for_select(@ampm,@udap),:style => "width:70px" %> <br><br>
		<% else -%>	
			Departure Date: <input type="text" id="datepicker2" name="departureDate"><br><br>
			Departure Time: <%= select_tag :dpthour , options_for_select(@hour), :style => "width:70px" %>:<%= select_tag :dptminute , options_for_select(@minute),:style => "width:70px" %>:<%= select_tag :dptampm , options_for_select(@ampm),:style => "width:70px" %> <br><br>
		<% end -%>
	</div>
	<div class="modal-footer">
	    <%= submit_tag 	"Submit",  :class => 'btn btn-primary btn-medium' %>
	<% end %>
	</div>
</div>


<% if flash[:meetingRSVP] %>
	<script type="text/javascript">
		$('#meetingRSVP').modal('show');
	</script>
<% end %>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

<script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
</script>
