<div class="row-fluid">
		<div class="span12">
			<h3>Next Upcoming Meeting</h3>
		<% if @res.keys.length == 0 -%>
			<div class="well">
				<p>No upcoming meeting(s) found.</p>
			</div>
		<% else -%>
			<div class="well">

			<% @res.each do |key,value| -%>
				<% vals = value.split(";") -%>
			<h3><%= vals[0] %></h3>
			<p>
				<ul>
					<li>Location: <b><%= vals[1] %></b></li>
					<li>Start Date: <b><%= vals[2] %></b></li>
					<li>End Date: <b><%= vals[3] %></b></li>
				</ul>	
			</p>	
			<% end -%>
			</div>	
		<% end -%>
		
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        		<li class="active"><a href="#attendees" data-toggle="tab">Attendee(s)</a></li>
       			<li><a href="#agenda" data-toggle="tab">Agenda</a></li>
        		<li><a href="#minutes" data-toggle="tab">Minutes &amp; Presentations</a></li>
    		</ul>
			
		    <div id="my-tab-content" class="tab-content">
    		    <div class="tab-pane active" id="attendees">
    				<div class="alert alert-info alert-dismissible" role="alert">
 						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  						  <div align="center">This attendee list is not complete yet!</div>
					</div>
    				<div class="alert alert-success" role="alert">
  						  <div align="center"><%=  link_to_modal '<i class="icon-edit"> <strong>Update your meeting status</strong></i>'.html_safe, "#meetingRSVP" %></div>
					</div>

    		    	
    				<% if @attres.num_rows == 0 -%>
						<p>No attendee(s) found.</p>
					<% else -%>
					<table id="tableAttendes">
					<thead>
							<tr>
							<th>Name </th>
							<th>Email</th>
							<th>Atteding?</th>
							<th>Arrival Date &amp; Time</th>
							<th>Departure Date &amp; Time</th>
						</tr>
					</thead>				
					<tbody>
					<% @attres.each do |r1,r2,r3,r4,r5| -%>
							<tr>
								<td><%= r1 %></td>
								<td><%= r2 %></td>
								<td><%= r3 %></td>
								<td><%= r4 %></td>
								<td><%= r5 %></td>													
							</tr>
					<% end -%>
					</tbody>		
					</table>
					<% end -%>

        		</div>
        		<div class="tab-pane" id="agenda">
    				<div class="alert alert-success" role="alert">
  						  <div align="center"><%=  link_to_modal '<i class="icon-upload"> <strong>Upload meeting agenda</strong></i>'.html_safe, "#uploadFile" %></div>
					</div>
					<% Dir.foreach(Rails.root.join("meetings","agenda", @meetingId)) do |file| -%>
						<% next if file == '.' or file == '..' -%>
						<div class="well">
    							<h4>
    								<span title="open file"><%= link_to file,  {:controller => "webportal", :action => "viewAgenda", :mid => @meetingId, :file => file, :type => "agenda"}, :target => "_blank" %></span>
    							</h4>
  							<div>
								<span title="Download"><%= link_to '<i class="icon-download"> Download </i>'.html_safe, {:controller => "webportal", :action => "downloadAgenda",:mid => @meetingId, :file => file, :type => "agenda"} %></span>
  							</div>
						</div>
					<% end -%>
					
        		</div>
        		<div class="tab-pane" id="minutes">
    				<div class="alert alert-success" role="alert">
  						  <div align="center"><%=  link_to_modal '<i class="icon-upload"> <strong>Upload meeting minutes or presentations</strong></i>'.html_safe, "#uploadMinPre" %></div>
					</div>
					
					<% if @minpre.num_rows == 0 -%>
						<p>No meeting minutes and presentation found.</p>
					<% else -%>
						<% @minpre.each do |r1,r2,r3,r4,r5,r6,r7,r8| -%>
							<div class="well">
    							<h4>
    								<span title="open file"><%= link_to r5,  {:controller => "webportal", :action => "viewAgenda", :mid => @meetingId, :file => r5, :type => "minutes"}, :target => "_blank" %></span>
    							</h4>
    								<p style="color:#808080"> 
    								<span title="title"> <i class="icon-bookmark"> &nbsp; Title </i> : <b><%= r4 %> </b> </span> </br>
									<span title="created by"><i class="icon-user"> &nbsp; Uploaded by</i> : <%= r1 %> ( <%= r2%> ) </span> </br> 
									<span title="created at"><i class="icon-time">&nbsp;Uploaded at</i> : <%= r6 %></span>
									</p>
  								<div>
									<span title="Download"><%= link_to '<i class="icon-download"> Download </i>'.html_safe, {:controller => "webportal", :action => "downloadAgenda",:mid => @meetingId, :file => r5, :type => "minutes"} %></span>
  								</div>
							</div>

						<% end -%>
					<% end -%>
					
		    	</div>
			
			</div>	
	</div>
</div>



<div id="meetingRSVP" class="modal" style="display: none; ">

	<p>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
	<%end%>
	</p>

	<div class="modal-header">
		<h3>Your RSVP</h3>
	</div>
	<div class="modal-body">
	<%= form_tag({:controller => 'webportal',:action => 'createMeetingRsvp'}, :multipart => true) do %>
		<%= hidden_field_tag :mid, @meetingId %><br>
		<% if @uatt != "" -%>
			Attending?: <%= select_tag :attending , options_for_select(['yes','no'],@uatt) %> <br><br>
		<% else -%>
			Attending?: <%= select_tag :attending , options_for_select(['yes','no']) %> <br><br>
		<% end -%>
		<% if @uad != "" -%>
			Arrival Date: <input type="text" id="datepicker" name="arrivalDate" value="<%= @uad %>" ><br><br>
			Arrival Time: <%= select_tag :atthour , options_for_select(@hour,@uah), :style => "width:70px" %>:<%= select_tag :attminute , options_for_select(@minute,@uam),:style => "width:70px" %>:<%= select_tag :attampm , options_for_select(@ampm,@uaap),:style => "width:70px" %> <br><br>
		<% else -%>
			Arrival Date: <input type="text" id="datepicker" name="arrivalDate"><br><br>
			Arrival Time: <%= select_tag :atthour , options_for_select(@hour), :style => "width:70px" %>:<%= select_tag :attminute , options_for_select(@minute),:style => "width:70px" %>:<%= select_tag :attampm , options_for_select(@ampm),:style => "width:70px" %> <br><br>
		<% end -%>
		<% if @udd != "" -%>
			Departure Date: <input type="text" id="datepicker2" name="departureDate" value="<%= @udd %>"><br><br>
			Departure Time: <%= select_tag :dpthour , options_for_select(@hour,@udh), :style => "width:70px" %>:<%= select_tag :dptminute , options_for_select(@minute,@udm),:style => "width:70px" %>:<%= select_tag :dptampm , options_for_select(@ampm,@udap),:style => "width:70px" %> <br><br>
		<% else -%>	
			Departure Date: <input type="text" id="datepicker2" name="departureDate"><br><br>
			Departure Time: <%= select_tag :dpthour , options_for_select(@hour), :style => "width:70px" %>:<%= select_tag :dptminute , options_for_select(@minute),:style => "width:70px" %>:<%= select_tag :dptampm , options_for_select(@ampm),:style => "width:70px" %> <br><br>
		<% end -%>
	</div>
	<div class="modal-footer">
	    <%= submit_tag 	"Submit",  :class => 'btn btn-primary btn-medium' %>
	<% end %>
	</div>
</div>


<div id="uploadFile" class="modal" style="display: none; ">

	<p>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
	<%end%>
	</p>

	<div class="modal-header">
		<h3>Upload agenda</h3>
	</div>
	<div class="modal-body">
	<%= form_tag({:controller => 'webportal',:action => 'uploadAgenda'}, :multipart => true) do %>
		<%= hidden_field_tag "mid", @meetingId %></br>
		File: <%= file_field_tag 'file'%></br>
	</div>
	<div class="modal-footer">
	    <%= submit_tag 	"Upload",  :class => 'btn btn-primary btn-medium' %>
	<% end %>
	</div>
</div>


<div id="uploadMinPre" class="modal" style="display: none; ">

	<p>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
	<%end%>
	</p>

	<div class="modal-header">
		<h3>Upload Minutes &amp; Presentations </h3>
	</div>
	<div class="modal-body">
	<%= form_tag({:controller => 'webportal',:action => 'uploadMp'}, :multipart => true) do %>
		<%= hidden_field_tag "mid", @meetingId %></br>
		Title: <%= text_field_tag 'title', nil, placeholder: 'meeting minute or presentation title', :class => 'mptitle' %></br>
		File: <%= file_field_tag 'file'%></br>
	</div>
	<div class="modal-footer">
	    <%= submit_tag 	"Upload",  :class => 'btn btn-primary btn-medium' %>
	<% end %>
	</div>
</div>



<% if flash[:meetingRSVP] %>
	<script type="text/javascript">
		$('#meetingRSVP').modal('show');
	</script>
<% end %>

<% if flash[:uploadFile] %>
	<script type="text/javascript">
		$('#uploadFile').modal('show');
	</script>
<% end %>

<% if flash[:uploadMinPre] %>
	<script type="text/javascript">
		$('#uploadMinPre').modal('show');
	</script>
<% end %>


<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

<script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
</script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
