<div class="row-fluid">
	<div class="container">	
		
		<div class="span12">
			
			<%= form_tag({:controller => 'webportal',:action => 'overviewFilter'}, :multipart => true) do %>
					Cancer type: <%= select_tag "cType", options_for_select(@ctypes) %>
					&nbsp; Sample type: <%= select_tag "sType", options_for_select(@stypes) %>
					&nbsp; Organism type: <%= select_tag "oType", options_for_select(@otypes) %>					
					</br> <%= submit_tag "Filter",  :class => 'btn btn-primary btn-medium' %>
			<% end %>
		</div>	
		
			
		<div class="span12">
			<div align="center">
				<h3> Overview of data
				<a class="btn" href="" style="background-color:#CCFFCC" disabled>Present</a>
				<a class="btn" href="" style="background-color:#B6B0B0" disabled>Soon will be available</a>
				<a class="btn" href="" style="background-color:#FFCCCC" disabled>Absent</a>
				</h3>
			</div>
			<table id="tableOverview" class="cell-border" cellspacing="0" >
				<thead>
					<tr>
						<th rowspan="1" colspan="4" class="sample">Sample Annotation</th>
						<th rowspan="1" colspan="3" class="analysis">Analysis Annotation</th>			
						<th rowspan="1" colspan="12" class="data">Data Annotation</th>
						<th rowspan="1" colspan="2" class="screening">Screening Annotation</th>
					</tr>
					<tr>
						<th>Sample name</th>
						<th>Sample type</th>
						<th>Organism</th>
						<th>Cancer type</th>
						<th>Varinat calls</th>
						<th>CNV calls</th>
						<th>Expression</th>
						<th>WGS</th>
						<th>WES</th>
						<th>Sanger 360 Seq</th>
						<th>Low coverage</th>
						<th>RNA seq</th>
						<th>GE Arrays</th>
						<th>Methylation</th>
						<th>siRNA</th>
						<th>shRNA</th>
						<th>CRISPR</th>
						<th>ENU</th>
						<th>IM</th>
						<th>Single screen</th>
						<th>Combi screen</th>
					</tr>	
				</thead>				
				<tbody>
					<% if @res == nil -%>
					<tr>
						<td> empty </td>
					</tr>
					<% else -%>
						<% @res.each do |r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r16,r17,r18,r19,r20,r21,r22,r23,r24,r25,r26,r27,r28,r29,r30,r31,r32,r33,r34| -%>
						<tr>
							<td>
								<a href="#" data-toggle="tooltip" title="<%= r8 %>"><%= r4 %></a>
							</td>		

							<td><a href="#" data-toggle="tooltip" title="<%= r2 %>"><%= r1 %></a></td>
							
							<td><%= r5 %></td>
							
							<td><%= r7 %></td>							
							
							<% if r11 == nil or r11 == "0" -%>
							<td class="absent"></td>
							<% elsif r11 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>
							
							<% if r12 == nil or r12 == "0" -%>
							<td class="absent"></td>
							<% elsif r12 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>
							
							<% if r13 == nil or r13 == "0" -%>
							<td class="absent"></td>
							<% elsif r13 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r22 == nil or r22 == "0" -%>
							<td class="absent"></td>
							<% elsif r22 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r23 == nil or r23 == "0" -%>
							<td class="absent"></td>
							<% elsif r23 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r24 == nil or r24 == "0" -%>
							<td class="absent"></td>
							<% elsif r24 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r25 == nil or r25 == "0" -%>
							<td class="absent"></td>
							<% elsif r25 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r26 == nil or r26 == "0" -%>
							<td class="absent"></td>
							<% elsif r26 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r27 == nil or r27 == "0" -%>
							<td class="absent"></td>
							<% elsif r27 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r28 == nil or r28 == "0" -%>
							<td class="absent"></td>
							<% elsif r28 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r29 == nil or r29 == "0" -%>
							<td class="absent"></td>
							<% elsif r29 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r30 == nil or r30 == "0" -%>
							<td class="absent"></td>
							<% elsif r30 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r31 == nil or r31 == "0" -%>
							<td class="absent"></td>
							<% elsif r31 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r32 == nil or r32 == "0" -%>
							<td class="absent"></td>
							<% elsif r32 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r33 == nil or r33 == "0" -%>
							<td class="absent"></td>
							<% elsif r33 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>


							<% if r16 == nil or r16 == "0" -%>
							<td class="absent"></td>
							<% elsif r16 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

							<% if r17 == nil or r17 == "0" -%>
							<td class="absent"></td>
							<% elsif r17 == "2" -%>
							<td class="future"></td>							
							<% else -%>
							<td class="present"></td>
							<% end -%>

						</tr>
						<% end -%>
					<% end -%>	
				</tbody>		
			</table>
			
		</div>
			
	</div>	
</div>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>