<div class="row-fluid">
	<div class="container">
		<div class="span12">
			
			<div class="alert alert-info" role="alert">
				<div align="center">
					<strong>Welcome to the survey. Please fill in all the questions for a proper survey and the suggestion text boxes are optional.</br>
					This will not take more than 10 minutes. You can only complete this survey once!</strong>
				</div>
			</div>
			
			<%= form_tag({:controller => 'webportal',:action => 'submitSurveyResults'}, :multipart => true) do %>
			
			
			<h3>Globally</h3>
			
			<b>Do you find the Combat Cancer portal useful?</b></br>
			<%= radio_button :survey, :combat_cancer_useful, 'Yes', :checked => @ccuseful["Yes"] %> Yes<br />
			<%= radio_button :survey, :combat_cancer_useful, 'No', :checked => @ccuseful["No"] %> No<br />
			</br>

			<b>Did you know that some pages are public?</b></br>
			<%= radio_button :survey, :some_pages_public, 'Yes', :checked => @sppublic["Yes"] %> Yes<br />
			<%= radio_button :survey, :some_pages_public, 'No', :checked => @sppublic["No"] %> No<br />
			</br>
			
			
			<b>How many newsletters have you read so far? </b></br>
			<%= radio_button :survey, :read_newsletter_number, '0', :checked => @rnnumber["0"] %> 0<br />
			<%= radio_button :survey, :read_newsletter_number, '1', :checked => @rnnumber["1"] %> 1<br />
			<%= radio_button :survey, :read_newsletter_number, '2', :checked => @rnnumber["2"] %> 2<br />
			<%= radio_button :survey, :read_newsletter_number, '3', :checked => @rnnumber["3"] %> 3<br />		
			</br>
			
			<b>Did you know that you can export the list of members and get all email addresses? </b></br>
			<%= radio_button :survey, :get_member_list, 'Yes', :checked => @gmlist["Yes"] %> Yes<br />
			<%= radio_button :survey, :get_member_list, 'No', :checked => @gmlist["No"] %> No<br />
			</br>
			
			<b>Have you communicated your attendance of the January meeting via the portal? </b></br>
			<%= radio_button :survey, :meeting_attendance_january, 'Yes', :checked => @majanuary["Yes"] %> Yes<br />
			<%= radio_button :survey, :meeting_attendance_january, 'No', :checked => @majanuary["No"] %> No<br />
			</br>
			
			<b>Do you know where to find the presentations of the different meetings? </b></br>
			<%= radio_button :survey, :meeting_resources, 'Yes', :checked => @mresources["Yes"] %> Yes<br />
			<%= radio_button :survey, :meeting_resources, 'No', :checked => @mresources["No"] %> No<br />
			</br>
			
			<b>Have you used the member list to check a name / email / information about someone else?</b></br>
			<%= radio_button :survey, :check_member_list, 'Never', :checked => @cmlist["Never"] %> Never<br />
			<%= radio_button :survey, :check_member_list, 'At least once', :checked => @cmlist["Alo"] %> At least once<br />
			<%= radio_button :survey, :check_member_list, 'In the last month', :checked => @cmlist["Lm"] %> In the last month<br />
			</br>
			
			<b>If you have trouble with the portal, what do you do?</b></br>
			<%= radio_button :survey, :trouble_in_portal, 'Tickets', :checked => @tiportal["Tickets"] %> Create "Tickets" in the portal<br />
			<%= radio_button :survey, :trouble_in_portal, 'Give up', :checked => @tiportal["Gu"] %> Give up<br />
			<%= radio_button :survey, :trouble_in_portal, 'Ask a colleague', :checked => @tiportal["Ac"] %> Ask a colleague<br />
			<%= radio_button :survey, :trouble_in_portal, 'Email Rubayte/Magali', :checked => @tiportal["Email"] %> Email Rubayte/Magali<br />
			</br>
			</br>
			
			<h3>Sections</h3>
			For each of the following sections of the portal, indicate how often you use it.
			</br>
			
			<table class="table table-bordered">
				<tr>
					<th>Sections\Options</th>
					<th>Don't know this section</th>
					<th>Never used it</th>
					<th>Used it a few times</th>
					<th>Every month</th>
					<th>Every week</th>
				</tr>
				<tr>
					<td>Public Section</td>
					<td><%= radio_button :survey, :useage_of_public_section, 'dont_know_this_section', :checked => @public_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_public_section, 'never_used_it', :checked => @public_section['nui']  %></td>
					<td><%= radio_button :survey, :useage_of_public_section, 'used_it_few_times', :checked => @public_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_public_section, 'every_month', :checked => @public_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_public_section, 'every_week', :checked => @public_section['ew'] %></td>
				</tr>
				<tr>
					<td>Members</td>
					<td><%= radio_button :survey, :useage_of_members_section, 'dont_know_this_section', :checked => @members_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_members_section, 'never_used_it', :checked => @members_section['nui']  %></td>
					<td><%= radio_button :survey, :useage_of_members_section, 'used_it_few_times', :checked => @members_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_members_section, 'every_month' , :checked => @members_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_members_section, 'every_week', :checked => @members_section['ew']  %></td>
				</tr>		
				<tr>
					<td>Wiki</td>
					<td><%= radio_button :survey, :useage_of_wiki_section, 'dont_know_this_section', :checked => @wiki_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_wiki_section, 'never_used_it', :checked => @wiki_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_wiki_section, 'used_it_few_times', :checked => @wiki_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_wiki_section, 'every_month', :checked => @wiki_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_wiki_section, 'every_week', :checked => @wiki_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Files</td>
					<td><%= radio_button :survey, :useage_of_files_section, 'dont_know_this_section', :checked => @files_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_files_section, 'never_used_it' , :checked => @files_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_files_section, 'used_it_few_times', :checked => @files_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_files_section, 'every_month', :checked => @files_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_files_section, 'every_week', :checked => @files_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Data Overview</td>
					<td><%= radio_button :survey, :useage_of_data_overview_section, 'dont_know_this_section', :checked => @do_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_data_overview_section, 'never_used_it', :checked => @do_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_data_overview_section, 'used_it_few_times', :checked => @do_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_data_overview_section, 'every_month', :checked => @do_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_data_overview_section, 'every_week', :checked => @do_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Tickets</td>
					<td><%= radio_button :survey, :useage_of_tickets_section, 'dont_know_this_section', :checked => @tickets_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_tickets_section, 'never_used_it', :checked => @tickets_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_tickets_section, 'used_it_few_times', :checked => @tickets_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_tickets_section, 'every_month', :checked => @tickets_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_tickets_section, 'every_week', :checked => @tickets_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Forum</td>
					<td><%= radio_button :survey, :useage_of_forum_section, 'dont_know_this_section', :checked => @forum_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_forum_section, 'never_used_it', :checked => @forum_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_forum_section, 'used_it_few_times', :checked => @forum_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_forum_section, 'every_month', :checked => @forum_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_forum_section, 'every_week', :checked => @forum_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Meetings</td>
					<td><%= radio_button :survey, :useage_of_meetings_section, 'dont_know_this_section', :checked => @meetings_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_meetings_section, 'never_used_it', :checked => @meetings_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_meetings_section, 'used_it_few_times', :checked => @meetings_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_meetings_section, 'every_month', :checked => @meetings_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_meetings_section, 'every_week', :checked => @meetings_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Profile</td>
					<td><%= radio_button :survey, :useage_of_profile_section, 'dont_know_this_section',:checked => @profile_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_profile_section, 'never_used_it',:checked => @profile_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_profile_section, 'used_it_few_times',:checked => @profile_section['uift']  %></td>
					<td><%= radio_button :survey, :useage_of_profile_section, 'every_month',:checked => @profile_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_profile_section, 'every_week',:checked => @profile_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Tools</td>
					<td><%= radio_button :survey, :useage_of_tools_section, 'dont_know_this_section', :checked => @tools_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_tools_section, 'never_used_it' , :checked => @tools_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_tools_section, 'used_it_few_times', :checked => @tools_section['uift'] %></td>
					<td><%= radio_button :survey, :useage_of_tools_section, 'every_month', :checked => @tools_section['em'] %></td>
					<td><%= radio_button :survey, :useage_of_tools_section, 'every_week', :checked => @tools_section['ew'] %></td>
				</tr>		
				<tr>
					<td>Newletters</td>
					<td><%= radio_button :survey, :useage_of_newsletter_section, 'dont_know_this_section', :checked => @newsletter_section['dks'] %></td>
					<td><%= radio_button :survey, :useage_of_newsletter_section, 'never_used_it', :checked => @newsletter_section['nui'] %></td>
					<td><%= radio_button :survey, :useage_of_newsletter_section, 'used_it_few_times', :checked => @newsletter_section['uift']  %></td>
					<td><%= radio_button :survey, :useage_of_newsletter_section, 'every_month', :checked => @newsletter_section['em']  %></td>
					<td><%= radio_button :survey, :useage_of_newsletter_section, 'every_week', :checked => @newsletter_section['ew']  %></td>
				</tr>		
			</table>
			<br/>
			
			<h3>Data Overview</h3>
			</br>
			
			<b>Have you looked at the data overview? </b></br>
			<%= radio_button :survey, :saw_data_overview, 'Never', :checked => @sdoverview["Never"] %> Never<br />
			<%= radio_button :survey, :saw_data_overview, 'At least once', :checked => @sdoverview["Alo"] %> At least once<br />
			<%= radio_button :survey, :saw_data_overview, 'In the last month', :checked => @sdoverview["Lm"] %> In the last month<br />
			</br>

			<b>Are the data you are generating / working on represented in the data overview?  </b></br>
			<%= radio_button :survey, :your_data_at_do, 'Don\'t know', :checked => @ydadoverview["Don\'t know"] %> Don't know<br />
			<%= radio_button :survey, :your_data_at_do, 'No', :checked => @ydadoverview["No"] %> No<br />
			<%= radio_button :survey, :your_data_at_do, 'Partially', :checked => @ydadoverview["Partially"] %> Partially<br />
			<%= radio_button :survey, :your_data_at_do, 'Yes', :checked => @ydadoverview["Yes"] %> Yes<br />
			</br>
			
			<b>Do you have any suggestions to improve it?  (Optional) </b></br>
			<%= text_area_tag :suggestion_data_overview, @text_sdo %> 
			</br>

			<h3>Files</h3>
			</br>
			
			<b>Have you downloaded files from the portal?  </b></br>
			<%= radio_button :survey, :data_download, 'Never', :checked => @ddownload["Never"] %> Never<br />
			<%= radio_button :survey, :data_download, 'At least once', :checked => @ddownload["Alo"] %> At least once<br />
			<%= radio_button :survey, :data_download, 'In the last month', :checked => @ddownload["Lm"] %> In the last month<br />
			</br>

			<b>Have you uploaded files to the portal?   </b></br>
			<%= radio_button :survey, :data_upload, 'Never', :checked => @dupload["Never"] %> Never<br />
			<%= radio_button :survey, :data_upload, 'At least once', :checked => @dupload["Alo"] %> At least once<br />
			<%= radio_button :survey, :data_upload, 'In the last month', :checked => @dupload["Lm"] %> In the last month<br />
			</br>

			<h3>Wiki</h3>
			</br>
			
			<b>Have you consulted a page on the wiki?   </b></br>
			<%= radio_button :survey, :wiki_page_use, 'Never', :checked => @wpuse["Never"] %> Never<br />
			<%= radio_button :survey, :wiki_page_use, 'At least once', :checked => @wpuse["Alo"] %> At least once<br />
			<%= radio_button :survey, :wiki_page_use, 'In the last month', :checked => @wpuse["Lm"] %> In the last month<br />
			</br>

			<b>Have you edited or created a page on the wiki?  </b></br>
			<%= radio_button :survey, :wiki_page_creation, 'Never', :checked => @wpcreate["Never"] %> Never<br />
			<%= radio_button :survey, :wiki_page_creation, 'At least once', :checked => @wpcreate["Alo"] %> At least once<br />
			<%= radio_button :survey, :wiki_page_creation, 'In the last month', :checked => @wpcreate["Lm"] %> In the last month<br />
			</br>

			<b>Do you find the wiki good as it is? </b></br>
			<%= radio_button :survey, :is_wiki_good, 'Yes', :checked => @iwgood["Yes"]  %> Yes<br />
			<%= radio_button :survey, :is_wiki_good, 'No', :checked => @iwgood["No"] %> No<br />
			</br>

			<b>Do you have any suggestions to improve it?  (Optional) </b></br>
			<%= text_area_tag :suggestion_wiki, @text_sw %>
			</br>


			<h3>Forum</h3>
			</br>

			<b>Did you know we have a forum on the portal? </b></br>
			<%= radio_button :survey, :know_forum, 'Yes', :checked => @kforum["Yes"] %> Yes<br />
			<%= radio_button :survey, :know_forum, 'No', :checked => @kforum["No"] %> No<br />
			</br>
			
			<b>Do you think it is:  </b></br>
			<%= radio_button :survey, :forum_usefullness, 'useful', :checked => @fuseful["useful"] %> useful<br />
			<%= radio_button :survey, :forum_usefullness, 'could be useful', :checked => @fuseful["cbuseful"] %> could be useful<br />
			<%= radio_button :survey, :forum_usefullness, 'not useful', :checked => @fuseful["nuseful"] %> not useful<br />
			</br>

			<b>What do you think prevent people from using it?  </b></br>
			<%= radio_button :survey, :forum_failure, 'did not know it existed', :checked => @ffailure['exist'] %> did not know it existed<br />
			<%= radio_button :survey, :forum_failure, 'not easy to use', :checked => @ffailure['noteasy'] %> not easy to use<br />
			<%= radio_button :survey, :forum_failure, 'I dont want to start a topic', :checked => @ffailure['starttopic'] %> I dont want to start a topic<br />
			<%= radio_button :survey, :forum_failure, 'I have nothing to discuss', :checked => @ffailure['discuss']  %> I have nothing to discuss<br />
			<%= radio_button :survey, :forum_failure, 'if I want to discuss something, I use email', :checked => @ffailure['usemail'] %> if I want to discuss something, I use email<br />
			<%= radio_button :survey, :forum_failure, 'other', :checked => @ffailure['other'] %> other<br />						
			</br>

			<h3>Conclusion</h3>
			<br>

			Thanks for taking the time to fill the survey. If you have any more comments or suggestions, please let us know. (Optional)</b></br>
			<%= text_area_tag :suggestion, @text_s %>
			</br>
			

			<br />
			<br />
	    	<%= submit_tag 	"Submit",  :class => 'btn btn-primary btn-medium' %>
			<% end -%>
		
		</div>
	</div>
</div>			