<div class="row-fluid">
	<div class="container">
		<div class="span12">
			
			<h3>Global Questions</h3>
			</br>
			
			<%= image_tag("combatcancer_useful.png", width: '500', height: '400', alt: 'Do you find the Combat Cancer portal useful?') %>
						
			
			<%= image_tag("public_pages.png", width: '500', height: '400', alt: 'Did you know that some pages are public?') %>
			
			
			<%= image_tag("read_newsletter.png", width: '500', height: '400', alt: 'How many newsletters have you read so far?') %>
			
			<%= image_tag("export_email.png", width: '500', height: '400', alt: 'Did you know that you can export the list of members and get all email addresses?') %>
			
			
			<%= image_tag("meeting_attendance.png", width: '500', height: '400', alt: 'Have you communicated your attendance of the January meeting via the portal?') %>			
				
			<%= image_tag("meeting_presentations.png", width: '500', height: '400', alt: 'Do you know where to find the presentations of the different meetings?') %>			
				
			<%= image_tag("meeting_list_check.png", width: '500', height: '400', alt: 'Have you used the member list to check a name / email / information about someone else?') %>			
				
			<%= image_tag("portal_trouble.png", width: '500', height: '400', alt: 'If you have trouble with the portal, what do you do?') %>			
			</br>
			
			<h3>Sections</h3>
			</br>
			
			<%= image_tag("usage_sections.png", width: '1000', height: '800', alt: 'Usage of sections') %>
			
			</br>
			
			
			
			<h3>Data Overview</h3>
			<br/>
			
			<%= image_tag("dataoverview.png", width: '500', height: '400', alt: 'Have you looked at the data overview?') %>
			
			<%= image_tag("data_present_dataoverview.png", width: '500', height: '400', alt: 'Are the data you are generating / working on represented in the data overview?') %>
			
			<%= image_tag("data_present_dataoverview.png", width: '500', height: '400', alt: 'Are the data you are generating / working on represented in the data overview?') %>
			
			<br/>


			<h3>Files</h3>
			<br/>
			
			<%= image_tag("file_download.png", width: '500', height: '400', alt: 'Have you downloaded files from the portal?') %>
			
			<%= image_tag("file_upload.png", width: '500', height: '400', alt: 'Have you uploaded files to the portal?') %>

			</br>

			<h3>Wiki</h3>
			</br>
			
			<%= image_tag("wiki.png", width: '500', height: '400', alt: 'Have you consulted a page on the wiki?') %>
			
			<%= image_tag("wiki_page_create.png", width: '500', height: '400', alt: 'Have you edited or created a page on the wiki? ') %>

			<%= image_tag("wiki_good.png", width: '500', height: '400', alt: 'Do you find the wiki good as it is? ') %>

			</br>

			<h3>Forum</h3>
			</br>

			<%= image_tag("forum.png", width: '500', height: '400', alt: 'Did you know we have a forum on the portal? ') %>

			<%= image_tag("forum_usefullness.png", width: '500', height: '400', alt: 'Do you think it is: ') %>	

			<%= image_tag("forum_failure.png", width: '500', height: '400', alt: 'What do you think prevent people from using it? ') %>	

			</br>

		
		</div>
	</div>
</div>			