<div class="row-fluid">		
		<div class="span10">
			<h3>Tickets</h3>			
		</div>
		<div class="span2">
			<div align="right">		
 				<%=  link_to_modal "Create new ticket", "#newTicket", :class=>"btn btn-primary btn-medium" %>
			</div>
		</div>
</div>
<div class="row-fluid">
	<div align="center">		
			<%= form_tag({:controller => 'webportal',:action => 'ticketsFilter'}, :multipart => true,:class => "well form-inline") do %>
					Status: <%= select_tag "statusType", options_for_select(@statusTypes,@statusTypesChosen) %>
					&nbsp; Priority: <%= select_tag "priorityType", options_for_select(@pTypes,@pTypesChosen) %>
					&nbsp; <%= submit_tag "Filter",  :class => 'btn btn-primary btn-medium' %>
			<% end %>
	</div>	

	<div align="center">
		<% if @res == "empty" -%>
		<table class="cell-border">
		<tbody>
		<tr>
			<td> No record(s) found in database ! </td>
		</tr>
		</tbody>
		</table>
		<% else -%>		      	
      		<table id="tableTickets" class="display compact">
				<thead>
					<tr>
						<th>Subject </th>
						<th>Description</th>
						<th>Priority</th>
						<th>Created by</th>
						<th>Created on</th>
						<th>Status</th>
						<th>Last update</th>
					</tr>
				</thead>				
				<tbody>
						<% @res.each do |r1,r2,r3,r4,r5,r6,r7,r8| -%>
						<tr>
							<td><%= link_to r1,  {:controller => "webportal", :action => "viewTicket", :tid => r8 } %></td>
							<td><%= r2 %></td>
							<td><%= r3 %></td>
							<td><%= r4 %></td>
							<td><%= r5 %></td>
							<td><%= r6 %></td>	
							<td><%= r7 %></td>													
						</tr>
						<% end -%>
				</tbody>		
			</table>
		<% end -%>			
		</div>
</div>


<div id="newTicket" class="modal" style="display: none; ">

	<p>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
	<%end%>

	</p>
	
	<div class="modal-header">
		<h3>Create new ticket</h3>
	</div>
	<div class="modal-body">	 
	<%= form_tag(:controller => 'webportal',:action => 'createIssues') do %>
		Subject: <%= text_field_tag "issueSub" %><br><br>
		Details: <%= text_area_tag 'issueDesc', nil, size: "10x10" %><br><br>
		Priority: <%= select_tag "issuePriority", options_for_select(@ptypes) %><br><br>
		<%= check_box_tag(:createNew) %> Create another ticket</br></br>
	</div>
	<div class="modal-footer">
	    <%= submit_tag 	"Create",  :class => 'btn btn-primary btn-medium' %>
	<% end %>
	</div>
</div>


<% if flash[:newTicket] %>
	<script type="text/javascript">
		$('#newTicket').modal('show');
	</script>
<% end %>