<div class="row-fluid">
	<div class="container">
		<div span="12">
			<h4>
			Updating <I> <%= @fileDetails['ctype'] %>/<%= @fileDetails['subtype'] %>/<%= @fileDetails['filename'] %></I> 
			</h4>
			<%= form_tag({:controller => 'webportal',:action => 'commitUpdateFileDetails'}, :multipart => true) do %>
			<%= hidden_field_tag 'id', @fileDetails['fileid'] %>
			Created by: <b><%= @fileDetails['username']%> [ <%= @fileDetails['email'] %> ] </b> at <b><%= @fileDetails['createdon'] %></b></br>
			Cancer type: <b><%=  @fileDetails['ctype']%></b><br>
			Sub type: <b><%= @fileDetails['subtype'] %></b><br>
			File type: <b><%= @fileDetails['type'] %></b><br>
			Comments: <%= text_area_tag 'edit_comments', @fileDetails['comments'], size: "5x5" %><br>
	    	<%= submit_tag 	"Update",  :class => 'btn btn-primary btn-medium' %>
			<% end %>
		</div>
	</div>
</div>			
