<div class="row-fluid">		
		<div class="span12">
 			<%=  link_to "Click here to go back to Forum page!", :controller => "webportal", :action => "forum" %>
 		</div>
</div>
<div class="row-fluid">
		<div class="span12">
			<% @post.each do |r1,r2,r3,r4,r5,r6,r7| -%>
				<h3><%= r3 %></h3>
				<p style="color:#808080">post creation info:
					<span title="created by"><i class="icon-user"></i> <%= r1 %></span> &nbsp;
					<span title="created at"><i class="icon-time"></i> <%= r5 %></span>
				</p>
				<div>
					<p><pre><%= r4 %></pre></p>
				</div>	
			<% end -%>
			<% if @comments.num_rows == 0 -%>
				<p> No commet(s) found! Maybe add a comment!!</p>
			<% else -%>
					<% @comments.each do |r1,r2,r3,r4,r5| -%>
							<div>
								<p><b><%= r2 %></b>&nbsp;<span title="created at" style="color:#808080"><i class="icon-time"></i><%= r4 %></span>
									<pre><%= r3 %></pre>
								</p>
							</div>
							<br>	
			 		<% end -%>
			 <%end -%>
 			<div>
				<%= form_tag({:controller => 'webportal',:action => 'createPostComment'}, :multipart => true) do %>
					<%= hidden_field_tag "hpostid", @postid %><br>
					Add a comment below<br>
					<%= text_area_tag 'newPostComment', nil %><br>
					<%= submit_tag 	"Add",  :class => 'btn btn-primary btn-medium' %>
				<% end %>	
			</div>
		</div>		
</div>


<div class="row-fluid">
	
		<div class="span12">
			
		
		</div>
</div>


<div id="createComment" class="modal" style="display: none; ">

	<p>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
	<%end%>
	</p>

	<div class="modal-header">
		<h3>Create new post</h3>
	</div>
	<div class="modal-body">
	<%= form_tag({:controller => 'webportal',:action => 'createPostComment'}, :multipart => true) do %>
		Comment: <%= text_area_tag 'newPostComment', nil, size: "10x10" %><br><br>
	</div>
	<div class="modal-footer">
	    <%= submit_tag 	"Create",  :class => 'btn btn-primary btn-medium' %>
	<% end %>
	</div>
</div>


<% if flash[:createPost] %>
	<script type="text/javascript">
		$('#createPost').modal('show');
	</script>
<% end %>