<div class="row-fluid">
		<div class="span10">
			<h3>Project Wiki</h3>
		</div>
		<div class="span2">
			<div align="right">
				<a class="btn btn-primary btn-medium" href="createWikiPage">Create new page</a>
				
			</div>
		</div>	
</div>

			

<div class="row-fluid">
	
		<div class="span3">
			
			<table id="tablePages" class="table table-condensed table-hover">
	    	    	<thead>
	    	    		<tr>
	    	    			<th>Pages</th>
	    	    		</tr>
	    	    	</thead>
	    	    		<% @pages.each do |file| -%>
						<% fs = file.split("/") -%>
						<% fss = fs[fs.length - 1].split(".") -%>
							<tr><td><%= link_to fss[0], {:controller => "webportal" , :action => "wiki", :pageid => fss[0] } %></td></tr>	
						<% end -%>
	    	    	<tbody>
	    	    		
	    	    	</tbody>
	    	</table>	
			

		</div>
	
		<div class="span9">
			<div>
				<h2><%= @filetoshow[0..-6] %> &nbsp; 
					<span title="Edit page">
					<%= link_to '<i class="icon-edit"></i>'.html_safe, {:controller => "webportal", :action => "editWikiPage",:pageid => @filetoshow } %>
					</span>
				</h2>
				<p style="color:#808080">page creation info: 
					<span title="created by"><i class="icon-user"></i> <%= @cby %></span> &nbsp; 
					<span title="created at"><i class="icon-time"></i> <%= @cat %></span>
				<% if @leby != nil and @leat != nil -%>
				</br>page update info:
					<span title="last edited by"><i class="icon-user"></i> <%= @leby %></span> &nbsp; 
					<span title="last edited at"><i class="icon-time"></i> <%= @leat %></span>
				<% end -%>
				</p>
				<hr>
			</div>
			<div>
			<% File.open(Rails.root.join('wiki',@filetoshow), 'rb') do |infile| -%>
				<% while line = infile.gets() -%>
					<% if line =~ /<(.*)>/%>
						<%= line.html_safe %>
					<% else -%>	
						<%= line %>
					<% end -%>	
				<% end -%>
			<% end -%>
			</div>
			<% if @atts.length > 0 -%>
			<div>
			<hr>
					<h4>Page attachment(s)</h4>
					<% @atts.each do |a1| -%>
						<i class="icon-tags"></i> <%= a1 %>
								<span title="Download attachment"><%= link_to '<i class="icon-download"></i>'.html_safe, 
								{:controller => "webportal", :action => "downloadWikiAtatchment",:page => @filetoshow,:file => a1} %></span>
						</br>	
					<% end -%>
			</div>
			<% end -%>			
		</div>
	</div>
</div>


