<!DOCTYPE html>
<html>
<head>
  <title>webportal-ccp</title>
  <%= stylesheet_link_tag    "application", "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", "/resources/demos/style.css", "//cdn.datatables.net/1.10.7/css/jquery.dataTables.css",:media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if session[:user] -%> 
          <a class="brand" href="index">Combat-Cancer</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">webportal <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="project">Project</a></li>
                  <li><a href="members">Members</a></li>
                  <li><a href="wiki">Wiki</a></li>
                  <li><a href="data">Data</a></li>
                  <li><a href="overview">Data overview</a></li>
                  <li><a href="forum">Forum</a></li>
                  <li><a href="meetings">Meetings</a></li>
                  <li><a href="tickets">Tickets</a></li>
                  <li><a href="tools">Tools</a></li>
                  <li class="divider"></li>
                  <li><a href="admin">Admin</a></li> 
                </ul>
              </li>
              <li><%=  link_to session[:user], :controller => "users", :action => "profile" %></li>
              <li><%=  link_to '<span title="logout"><i class="icon-off icon-medium icon-white"></i></span>'.html_safe, :controller => "users", :action => "logout" %></li> 
            </ul>
          </div><!--/.nav-collapse -->
         <% else -%>
         <a class="brand" href="#">Combat-Cancer</a>
         <%end -%>
        </div>
      </div>
    </div>

	<div class="container-fluid">
		<% if flash[:color]== "valid" %>
			<div class="valid_notice">
				<p><%= flash[:notice]%></p>
			</div>
		<% elsif flash[:color]== "invalid"%>
			<div class="invalid_notice">
				<p><%=flash[:notice]%></p>
			</div>
		<%else%>
		<%end%>
		
		<%= yield %>
	</div>


	<div class="ft">
   		    <p style="color:#B7AEAE">&copy; 2014-2015 combat-cancer project | Funded by <%= link_to "European Research Council (ERC)", "http://erc.europa.eu/", :target => "_blank" %></p>
   	</div>


</body>
</html>
